.addplace form input{
  border: 1px solid black;
}

.add-left {
  position: absolute;
  margin-top: 14%;
  margin-left: 15%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  left: 7px;
  top: 15px;
}

.add-right {
  position: absolute;
  margin-left: 60%;
  margin-top: 14%;
  font-size: 30px;
  cursor: pointer;
  left: 7px;
  top: 15px;
  color: rgba(255, 255, 255, 0.9);
}

.add{
  /* center */
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
